.botonWallet {
  list-style-type: none;
  background-color: #580EF6;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 70px;
  color: #F7F7F7;
  cursor: pointer;
}

.botonWallet:hover {
  transition: 0.3s;
  background-color: #290e63;
}

.botonNav {
  list-style-type: none;
  padding: 10px 20px;
  margin-left: 70px;
  color: #F7F7F7;
  cursor: pointer;
}

.botonNav:hover {
  background-color: #580EF6;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
}

.boton {
  background-color: #580EF6;
  padding: 10px 20px;
  border-radius: 5px;
  color: #F7F7F7;
  cursor: pointer;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.boton:hover {
  transition: 0.3s;
  background-color: #290e63;
}

.botonDos {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0);
  color: #F7F7F7;
  border: 1px solid #F7F7F7;
  border-radius: 10px;
  cursor: pointer;
}

.info {
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info .info2 {
  margin-top: 35px;
}

.info .info2 h2 {
  color: #F7F7F7;
  font-size: 50px;
  margin-bottom: 10px;
}

.info .info2 h4 {
  color: #535353;
  margin-bottom: 20px;
}

.info img {
  height: 330px;
}

.info img:hover {
  transform: scale(1.1);
  transition: 3s;
}

.market {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.market h2 {
  color: #F7F7F7;
  padding-left: 30px;
}

.market .cryptos {
  width: 90%;
  height: auto;
  background-color: #0B0B0C;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.market .cryptos .crypto {
  background: rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.market .cryptos .crypto h3 {
  color: #F7F7F7;
}

.market .cryptos .crypto:hover {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.cajaCrypto {
  display: flex;
  justify-content: space-around;
}

.cajaCrypto .caja {
  margin-top: 25px;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cajaCrypto .caja h2 {
  color: #F7F7F7;
  font-size: 20px;
}

.cajaCrypto .caja h3 {
  color: #3D3A50;
  font-size: 15px;
}

.cajaCrypto .caja img {
  width: 35px;
  height: 35px;
}

.cajaCrypto .caja:hover {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background: #020024;
  background: linear-gradient(38deg, #020024 0%, #1a1c22 47%, #33196c 100%);
}

.app .infoApp h2 {
  color: #F7F7F7;
  font-size: 50px;
}

.app .infoApp h3 {
  color: #535353;
  margin-bottom: 20px;
}

.app .infoApp img {
  cursor: pointer;
  margin-right: 10px;
}

.app .infoApp .infoDos-app {
  display: flex;
}

.app .infoApp .infoDos-app i {
  color: #580EF6;
  font-size: 30px;
  margin-right: 10px;
}

header {
  height: 100vh;
  background: #020024;
  background: linear-gradient(38deg, #020024 0%, #1a1c22 47%, #33196c 100%);
}

nav {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

nav img {
  width: 110px;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #F7F7F7;
}

.ocultarDesktop {
  display: none;
}

footer {
  height: 230px;
  background-color: #0B0B0C;
  display: flex;
  padding: 30px;
}

footer .contacto {
  margin-left: 50px;
}

footer .contacto h2 {
  color: #F7F7F7;
}

footer .contacto li {
  list-style-type: none;
  color: #535353;
  margin-top: 10px;
  cursor: pointer;
}

footer .contacto i {
  color: #F7F7F7;
  font-size: 30px;
  margin-top: 10px;
  cursor: pointer;
}

footer .contacto i:hover {
  color: #535353;
  transition: 0.3s;
}

footer .servicios {
  margin-left: 50px;
}

footer .servicios h2 {
  color: #F7F7F7;
}

footer .servicios li {
  list-style-type: none;
  color: #535353;
  margin-top: 10px;
  cursor: pointer;
}

footer img {
  height: 50px;
}

footer .acercaDe {
  margin-left: 50px;
}

footer .acercaDe h2 {
  color: #F7F7F7;
}

footer .acercaDe li {
  list-style-type: none;
  color: #535353;
  margin-top: 10px;
  cursor: pointer;
}

footer .acercaDe li a {
  text-decoration: none;
  color: #535353;
}

@media screen and (max-width: 480px) {
  .info {
    padding: 0px;
    width: 100%;
    justify-content: start;
  }
  .info .imgBanner {
    display: none;
  }
  .info .info2 h2 {
    font-size: 35px;
  }
  .market .cryptos {
    width: 100%;
  }
  .app {
    flex-wrap: wrap;
  }
  .app .infoApp h2 {
    font-size: 40px;
  }
  .app .infoApp .infoDos-app h3 {
    font-size: 15px;
  }
  .app .imgApp {
    display: none;
  }
  footer {
    flex-wrap: wrap;
    height: auto;
  }
  nav {
    overflow: hidden;
    width: 100%;
  }
  nav img {
    width: 80px;
  }
  nav .ocultarMobile {
    display: none;
  }
  nav .ocultarDesktop {
    display: unset;
  }
  nav i {
    font-size: 30px;
    color: #F7F7F7;
    margin-left: 90px;
  }
  .barraMobileOculta {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.932);
    z-index: 10;
    transition: 0.5s;
  }
  .barraMobileOculta i {
    font-size: 25px;
    margin-top: 30px;
  }
  .barraMobileOculta ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }
  .barraMobileOculta ul li {
    color: #F7F7F7;
  }
  .barraMobileOculta ul li a {
    text-decoration: none;
    color: #F7F7F7;
  }
  .barraMobileVisible {
    transition: 0.5s;
    left: 0vh;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=styles.css.map */