footer{
    height: 230px;
    background-color: #0B0B0C;
    display: flex;
    padding: 30px;
    .contacto{
        margin-left: 50px;
        h2{
            color: $colorLetra;
        }
        li{
            list-style-type: none;
            color: rgb(83, 83, 83);
            margin-top: 10px;
            cursor: pointer;
        }
        li:hover{
            color: rgb(114, 114, 114);
            transition: 0.3s;
        }
        i{
            color: $colorLetra;
            font-size: 30px;
            margin-top: 10px;
            cursor: pointer;
        }
        i:hover{
            color: rgb(83, 83, 83);
            transition: 0.3s;
        }
    }
    .servicios{
        margin-left: 50px;
        h2{
            color: $colorLetra;
        }
        li{
            list-style-type: none;
            color: rgb(83, 83, 83);
            margin-top: 10px;
            cursor: pointer;
            a{
                text-decoration: none;
                color: rgb(83, 83, 83);
            }
            a:hover{
                color: rgb(114, 114, 114);
                transition: 0.3s;
            }
        }
        li:hover{
            color: rgb(114, 114, 114);
            transition: 0.3s;
        }
    }
    img{
        height: 50px;
    }
    .acercaDe{
        margin-left: 50px;
        h2{
            color: $colorLetra;
        }
        li{
            list-style-type: none;
            color: rgb(83, 83, 83);
            margin-top: 10px;
            cursor: pointer;
            a{
                text-decoration: none;
                color: rgb(83, 83, 83);
            }
            a:hover{
                color: rgb(114, 114, 114);
                transition: 0.3s;
            }
        }
        li:hover{
            color: rgb(114, 114, 114);
            transition: 0.3s;
        }
    }
}