.info{
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    .info2{
        margin-top: 35px;
        h2{
            color: $colorLetra;
            font-size: 55px;
            margin-bottom: 10px;
        }
        h4{
            color: rgb(83, 83, 83);
            margin-bottom: 20px;
        }
        
    }
    img{
        height: 380px;
    }
    img:hover{
        transform: scale(1.1);
        transition: 3s;
    }
}

//Caja de principales cryptos

.market{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    h2{
        color: $colorLetra;
        padding-left: 30px;
    }
    .cryptos{
            width: 90%;
            height: auto;
            background-color: #0B0B0C;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 20px;
            .crypto{
                background: rgba(0, 0, 0, 0.17);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                padding: 10px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 15px;
                h3{
                    color: $colorLetra;
                }
            }
            .crypto:hover{
                background: rgba(0, 0, 0, 0.40);
                transition: 0.5s;
            }
    }

}

//Cajas crypto en header

.cajaCrypto{
    display: flex;
    justify-content: space-around;
    .caja{
        margin-top: 25px;
        width: 200px;
        height: 80px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.17);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        h2{
            color: $colorLetra;
            font-size: 20px;
        }
        h3{
            color: $colorSecundario;
            font-size: 15px;
        }
        img{
            width: 35px;
            height: 35px;
        }
    }
    .caja:hover{
        background: rgba(0, 0, 0, 0.40);
        transition: 0.5s;
    }
}

//Seccion app mobile

.app{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(38deg, rgba(2,0,36,1) 0%, rgba(26,28,34,1) 47%, rgba(51,25,108,1) 100%);
    .imgApp{
    }
    .infoApp{
        h2{
            color: $colorLetra;
            font-size: 50px;
        }
        h3{
            color: rgb(83, 83, 83);
            margin-bottom: 20px;
        }
        img{
            cursor: pointer;
            margin-right: 10px;
        }
        .infoDos-app{
            display: flex;
            i{  
                color: $colorTerciario;
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }

}