@media screen and (max-width: 480px){


    .info{
        padding: 0px;
        width: 100%;
        justify-content: start;
        .imgBanner{
            display: none;
        }
        .info2{
            h2{
                font-size: 35px;
            }
        }
    }

    .market{
        .cryptos{
            width: 100%;
        }
    }

    .app{
        flex-wrap: wrap;
        .infoApp{
            h2{
                font-size: 40px;
            }
            .infoDos-app{
                h3{
                    font-size: 15px;
                }
            }
        }

        .imgApp{
            display: none;
        }
    }


    footer{
        flex-wrap: wrap;
        height: auto;
    }

    //Nav

    nav{
        overflow: hidden;
        width: 100%;
        img{
            width: 80px;
        }
        .ocultarMobile{
            display: none;
        }
        .ocultarDesktop{
            display: unset;
        }
        i{  
            font-size: 30px;
            color: $colorLetra;
            margin-left: 90px;
        }

    }

    .barraMobileOculta{
        width: 100%;
        height: 100%;
        position: fixed;
        left: -100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.932);
        z-index: 10;
        transition: 0.5s;
        i{
            font-size: 25px;
            margin-top: 30px;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 80%;
            li{
                a{
                    text-decoration: none;
                    color: $colorLetra;
                }
                color: $colorLetra;
            }
        }
    }
    .barraMobileVisible{
        transition: 0.5s;
        left: 0vh;
    }
}