
@import "_paleta";
@import "_botones";
@import "_main";
@import "_nav";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(38deg, rgba(2,0,36,1) 0%, rgba(26,28,34,1) 47%, rgba(51,25,108,1) 100%);
}